<h1>{{ title }}</h1>

<h3>Get request</h3>

<form action="/searchlotplan" method="get">
    <input class="form-control" type="text" placeholder="Enter lotplan..." name="q">
    <input class="btn btn-default" type="submit" name="input" value="SearchLotPlan">
</form>

<p>LOT returned: {{ lot }}</p>
<p>LOT AREA returned: {{ lot_area }}</p>
<p>LOCALITY returned: {{ locality }}</p>
<p>POLYGON returned: {{ wkt }}</p>

<br></br>
<form action="/searchaddress" method="get">
    <input class="form-control" type="text" placeholder="Enter Property Address..." name="address">
    <input class="btn btn-default" type="submit" name="input" value="SearchAddress">
</form>

<p>ADDRESS returned: {{ address }}</p>
<p>CITY_PLACE returned: {{ cityplace }}</p>
<p>STATE returned: {{ state }}</p>
<p>LOTPLAN returned: {{ lotplan }}</p>
<p>WKT returned: {{ wkt2 }}</p>
<p>LOT_AREA returned: {{ lot_area }}</p>